* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  background-image: url(../../static/img/Poster.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  padding-top: 15px;
  margin-bottom: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item-logo-wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-item-logo-wrap h2 {
  color: #fff;
  margin-left: 24px;
}

.nav-item-search-wrap {
  width: 525px;
  padding: 6px 12px 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
}

.nav-item-search {
  width: 100%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  outline: none;
  border: none;
  background: transparent;
}

::-webkit-input-placeholder {
  color: white;
}

.nav-item-logo-wrap2 {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-item-logo-wrap2 h2 {
  color: #fff;
  margin-right: 27px;
}


.hero {
  padding-bottom: 157px;
}

.hero-title {
  margin-bottom: 19px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}

.hero-box {
  width: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hero-logo-wrap1 {
  display: flex;
  align-items: center;
}

.hero-logo-wrap2 {
  display: flex;
  align-items: center;
}

.hero-logo-text1 {
  margin-left: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.hero-logo-text2 {
  margin-left: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.hero-text {
  width: 302px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 36px;
  background: #BE123C;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.hero-btn-text {
  margin-left: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}


.select-list {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: center;
}

.select-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

select {
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  padding: 0 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.cards {
  display: flex;
  justify-content: space-around;
}



.container {
  max-width: 1100px;
  margin: 0 auto;

}

.listData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.listData li {
  margin: 10px;
}

.move__card {
  padding: 1px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 400px;
  height: auto;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px black;
}


.move__card__inner {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.move__card img {
  width: 100%;
  height: 370px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.year_{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #797979;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title_{
  text-align: center;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cat_{
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}
.rayt_{
  margin-top: 10px;
  margin-bottom: 15px;
}
.wtch_{
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px;
  color: white;
  background-color: #ff7200;
  border-radius: 5px;
  border: none;
}

.bookmarks{
  color: #fff;
  font-size: 30px;
  margin-left: 40px;
  
}
.bookmarks:hover{
  color: blue;
  transition: all ease 0.5s;
}
.bookm{
  cursor: pointer;
  font-size: 18px;
}
.bookm:hover{
  color: red;
}

.bookmark__open{
  display: none;
  overflow: auto;
  width: 500px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}

.book_img{
  width: 100px;
  height: 100px;
  border-radius: 50%;

  
}

.title__main{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.cancel{
  font-size: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.booklist{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.book_title{
  text-align: center;
  width: 250px;
  overflow: auto;
}
.book_rating{
  color: #797979;
}
.book_wtch{
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgb(9, 9, 197);
  color: rgb(9, 9, 197) ;
  border-radius: 5px;
}
.cancel:hover{
  color: red;
}